#top-bar{
	background-image: url(https://cdn.discordapp.com/attachments/317228753581506561/359610137977159681/Screenshot_15_edited.jpg);
	background-repeat: no-repeat;
	position: relative;
	height: 300px;
	max-height: 100%;
	margin-left: 28.5%;
	margin-right: 10%;
	display: block;
	text-align: center;
}

#text{
	color: lightgrey;
	font-family: arial;
	font-size: 100%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

#search-bar{
	border: 1px solid lightgrey;
	display: inline-block;
	position: relative;
	width: 650px;
	height: 35px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#other-websites{
	background-image: url(https://cdn.discordapp.com/attachments/317228753581506561/359610133623603200/Screenshot_16_edited.jpg);
	background-repeat: no-repeat;
	height: 500px;
	width: 1000px; 
	margin-left: 31.5%;
	margin-top: 2%;
	display: block;
	position: relative;
}

#mic{
	height: 20px;
	width: 13px;
	display: block;
	position: relative;
	margin: -29.5%;
	margin-right: 34%;
}
