#top-bar{
	background-image: url(https://cdn.discordapp.com/attachments/317228753581506561/359610137977159681/Screenshot_15_edited.jpg);
	background-repeat: no-repeat;
	position: relative;
	height: 332px;
	max-height: 100%;
	margin-left: 23.8%;
	margin-top: 7.6%;
	margin-right: 10%;
	display: block;
	text-align: center;
}

#text{
	color: lightgrey;
	font-family: arial;
	font-size: 100%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

#search{
	border: 1px solid lightgrey;
	display: inline-block;
	position: relative;
	width: 650px;
	height: 35px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	font-size: 100%;
}

#other-webpages{
	display: inline-block;
	position: relative;
	margin-left: 23.7%;
	margin-top: 5%;
}

#mic{
	height: 20px;
	width: 13px;
	display: block;
	position: relative;
	margin-left: 74.4%;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: -10.16%;
}